@{
    ViewData["Title"] = "SalaryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="page-header">
	<div class="row align-items-center">
		<div class="col">
			<h3 class="page-title">Payslip</h3>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
				<li class="breadcrumb-item active">Payslip</li>
			</ul>
		</div>
		
	</div>
</div>
<!-- /Page Header -->

<div class="card">
	<div class="card-body">
		<h4 class="payslip-title">Payslip for the month of May 2023</h4>
		<div class="row">
			<div class="col-sm-6">
				<img src="assets\img\Lynxlogo3.png" class="inv-logo" alt="">
				<ul class="list-unstyled mb-0">
					<li>Lynx Softech</li>
					<li>U-54 Atlanta Shopping Mall, </li>
					<li>Althan Canal Rd, Surat, Gujarat 395017,</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="invoice-details">
					<h3 class="text-uppercase">Payslip #19052023</h3>
					<ul class="list-unstyled">
						<li>Salary Month: <span>May, 2023</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div>
					<!--<h4 class="m-b-10"><strong>Earnings</strong></h4>-->
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>
									<ul class="list-unstyled">
										<li><strong>Employee ID:</strong> <input type="text" placeholder="FT-0001"/> </li>
										<li> <h5 class="mb-0"> Employee Name:</h5></li>
										<li><strong>Address:</strong> </li>
										<li><strong>Designation:</strong></li>
										<li><strong>Hire Date:</strong></li>
										<li><strong>Email:</strong></li>
										
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div>
					<!-- /<h4 class="m-b-10"><strong>Deductions</strong></h4> -->
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>
									<ul class="list-unstyled">
										<li><strong>L.O.P. Days:</strong></li>
										<li><strong>Std Days:</strong></li>
										<li><strong>Leaves:</strong> </li>
										<li><strong>Bank Name:</strong> </li>
										<li><strong>Bank Branch:</strong> </li>
										<li><strong>Bank A/C:</strong> </li>
										<li><strong>IFSC Code:</strong> </li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div>
					<h4 class="m-b-10"><strong>Earnings</strong></h4>
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td><strong>Basic Salary</strong> <span class="float-right"><input type="number"></span></td>
							</tr>
							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">House Rent Allowance (H.R.A.)</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>


							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Conveyance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Overtime Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Meals Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Medical Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Transport allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Entertainment Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Dearness Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Other Allowance</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>
						<td><strong>Total Earnings</strong> <span class="float-right">₹431413</span></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div>
					<h4 class="m-b-10"><strong>Deductions</strong></h4>
					<table class="table table-bordered">
						<tbody>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Tax Deducted at Source (T.D.S.)</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Provident Fund</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">ESI</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Life insurance premium.</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Pension schemes</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Fixed deposit</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Interest on Home Loan</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">NSC (National Saving  Certificate)</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Tuition fees for children</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Loan</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>

							<tr>
								<td style="text-align: left;">
									<span style="float: left;"> </span>
									<strong style="margin-left: 20px;">Total Deductions</strong>
									<span style="float: right;"><label></label></span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-12">
				<p><strong>Net Salary: ₹141940</strong> (Fifty nine thousand six hundred and ninety eight only.)</p>
			</div>
			<div style="width: auto; margin-left: auto; margin-right: auto" class="submit-section">
				<button class="btn btn-primary submit-btn">Calculate</button>
			</div>
		</div>
	</div>
</div>
						</div>
					</div>
				</div>
<!-- /Page Content -->